* {
  font-size: 18px;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  font-family:
   'apricotJapanesefontT', 'Hack Nerd Font';
  background-color: #f4f5e3;
  border-radius: 1em;
  padding: 0em 1em;
  border: solid 2px #260a33;
}

#workspaces button {
  padding: 0 0.2em;
  background-color: #1b56d6;
  border-radius: 0.2em;
  color: #f4f5e3;
  margin: 0.2em 0.2em;
  font-size: 1.2em;
}

#workspaces button:hover {
  background-color: #1545ad;
}

#workspaces button.empty {
  background-color: #779dee;
}

#workspaces button.empty:hover {
  background-color: #5a80c0;
}

#workspaces button.visible {
  color: #8be9fd;
}

#workspaces button.active {
  color: #08f744;
}

#workspaces button.special {
  margin: 0.2em 0.2em 0.2em 0.4em;
}

#workspaces button.urgent {
  background-color: #cd2d2f;
  border-radius: 1em;
  color: #f4f5e3;
}

#window {
  border-radius: 1em;
  padding: 0 1em;
  background-color: #f4f5e3;
  border: solid 2px #260a33;
}

window#waybar.empty #window {
  background-color: transparent;
  border: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray {
  border-radius: 1em;
  padding: 0 10px;
  color: #f4f5e3;
  margin-top: 0.2em;
}

label:focus {
  background-color: #260a33;
}

#network {
  background-color: #6fcf61;
  margin-left: 1em;
  margin-right: 1em;
}

#network.disconnected {
  background-color: #cd2d2f;
}

#tray {
  background-color: #f4f5e3;
  border-radius: 1em;
  border: 2px solid #260a33;
  margin-right: 1em;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #cd2d2f;
}

#cpu {
  background-color: #1b56d6;
  margin-right: 1em;
}

#memory {
  background-color: #7961d3;
  margin-right: 1em;
}

#battery {
  background-color: #f4f5e3;
  color: #260a33;
  margin-right: 1em;
}

#battery.charging,
#battery.plugged {
  color: #f4f5e3;
  background-color: #6fcf61;
}

@keyframes blink {
  to {
    background-color: #f4f5e3;
    color: #260a33;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #cd2d2f;
  color: #f4f5e3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  background-color: #ec46ac;
}
